/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nunito&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
}

.header{
    z-index: 999;
    position: sticky;
    display: flex;
    margin-top: 1rem;
}

.logo{
    width: 162px;
    height: 53px;
    margin-top: 20px;
    margin-left: 6rem;
    display: flex;
}

.logo i{
    font-size: 53px;
    color: #F5BB33;
}

.logo p{
    font-family: dongle;
    font-size: 40px;
    padding-left: 5px;
    margin-top: 15px;
}

.mode{
    color: #9b9b9b;
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 15rem;
    background: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: inherit;
}

.mode:hover{
    opacity: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
}

.dark {
    background-color: #11171f;
    color: #f5f5f5;
}

nav{
    padding: 50px;
    display: flex;
    margin-left: 10rem;
}

.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    background: #f5f5f5fa;
    border-radius: 10px;
}

.navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-family: dongle;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; 
}

.navbar li a:hover,
.navbar li a.active {
    color: #F5BB33;
}

.navbar li a.active:after,
.navbar li a:hover:after{
    content: "";
    width: 30%;
    height: 2px;
    background: #F5BB33;
    position: absolute;
    bottom: 7px;
    left: 25px;
}

.search{
    display: flex;
    margin-left: 9rem;
}

.btn-primary{
    font-family: dongle;
    width: 188px;
    height: 38px;
    background-color: rgb(243, 241, 241);
    border: none;
    color: black;
    font-size: 32px;
    float: left;
    padding-left: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 80px;
}

.search i{
   position: absolute;
   width: 20px;
   height: 20px;
   margin-left: -178px;
   margin-top: 10px;
   cursor: pointer;
   color: black;
}

.search i:hover{
    color: grey;
}

.keranjang{
    border-color: 1px solid black;
    width: 47px;
    height: 38px;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(243, 241, 241);
    border: 2px solid black;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.keranjang i{
    margin-left: 1rem;
}

.jumlah{
    margin-left: 2.3rem;
    margin-top: -0.3rem;
    width: 17px;
    height: 17px;
    background-color: #EB8E8E;
    border-radius: 50%;
    border: 1px solid white;
}


.container{
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 40%;
    margin-top: 5%;
}
.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}
.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}
.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}
.container.active .forms{
    height: 620px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #000000;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #FEBB0F;
    border-radius: 25px;
}
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 25px;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid){
    border-bottom-color: #FEBB0F;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i{
    color: #FEBB0F;
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #FEBB0F;
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a.text{
    color: #FEBB0F;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 15px;
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #FEBB0F;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #FEBB0F;
}

.form .login-signup{
    margin-top: 10px;
    text-align: center;
}
.liw{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #071c3b;
    font-size: 13px;
}
.form .icons {
    text-decoration: none;
    margin-top: 5px;
    color: rgb(14, 13, 13);
    margin-left: 70px;
}
.form .icons ion-icon{
    color: rgb(8, 8, 8);
    font-size: 30px;
    padding-left: 14px;
    transition: 0.3s ease;
    float: left;
}
.form .icons ion-icon:hover{
    color: #FEBB0F;
}

@media (max-width: 1280px){
    .logo{
        margin-left: 4rem;
    }

    .logo i{
        font-size: 35px;
    }

    .logo p{
        font-size: 30px;
        margin-top: 7px;
    }

    .mode{
        margin-left: 5.3rem;
        margin-top: 2.3rem;
        font-size: 15px;
    }

    nav{
        margin-top: -18px;
        margin-left: 5rem;
    }

    .navbar{
        border-radius: 5px;
    }
    
    .navbar li a{
        font-size: 15px;
    }

    .navbar li a.active:after,
    .navbar li a:hover:after{
    bottom: 4px;
    }

    .search{
        display: flex;
        margin-left: 10rem;
        margin-top: 3px;
    }
    
    .btn-primary{
        width: 130px;
        height: 25px;
        font-size: 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-left: -20px;
    }
    
    .search i{
       font-size: 12px;
       margin-left: -120px;
       margin-top: 6px;
    }
    
    .search i:hover{
        color: grey;
    }
    
    .keranjang{
        border-color: 1px solid black;
        width: 30px;
        height: 25px;
        font-size: 17px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgb(243, 241, 241);
        border: 2px solid black;
        border-top: none;
        border-right: none;
        border-bottom: none;
    }
    
    .keranjang i{
        margin-left: 5px;
    }
    
    .jumlah{
        margin-left: 1.2rem;
        margin-top: -0.3rem;
        width: 12px;
        height: 12px;
    }
