/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nunito&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
    height: 100%;
}

.header{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background: #f5f5f5;
    margin-left: 10px;
}

nav{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    position: absolute;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    position: relative;
    width: 162px;
    height: 53px;
    margin-top: -20px;
}

.navbar{
    display: flex;
    float: left;
    margin-left: 297px
}

.navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-family: dongle;
    transition: 0.3s ease; 
}

.navbar li a:hover,
.navbar li a.active {
    color: #EB8E8E;
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #EB8E8E;
    position: absolute;
    bottom: 7px;
    left: 25px;
}

.btn-primary{
    position: relative;
    font-family: dongle;
    width: 188px;
    height: 38px;
    background-color: rgb(243, 241, 241);
    border: none;
    color: black;
    font-size: 32px;
    float: left;
    padding-left: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -180px;
}

.search i{
   position: absolute;
   width: 20px;
   height: 20px;
   margin-left: -175px;
   margin-top: 10px;
   cursor: pointer;
}

.search i:hover{
    color: grey;
}

.keranjang .tombol{
    margin-left: -229px;
    width: 47px;
    height: 38px;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.keranjang .tombol i{
    cursor: pointer;
}

.keranjang .tombol i:hover{
    color: grey;
}

.container{
    position: absolute;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
    
}
.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}
.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}
.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}
.container.active .forms{
    height: 620px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 25px;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 15px;
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 10px;
    text-align: center;
}
.liw{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #071c3b;
    font-size: 13px;
}
.form .icons {
    text-decoration: none;
    margin-top: 5px;
    color: rgb(14, 13, 13);
    margin-left: 70px;
}
.form .icons ion-icon{
    color: rgb(8, 8, 8);
    font-size: 30px;
    padding-left: 14px;
    transition: 0.3s ease;
    float: left;
}
.form .icons ion-icon:hover{
    color: #183ea7;
}